<nav class="navbar">
    <div class="container">
        <section class="navbar-band">
            <a class="navbar-item" href="/">
            <span class="icon is-size-4"><i class="fab fa-rocketchat"></i></span>
            <small class="is-large ml-2">Tech Blog</small>
            </a>
        </section>
    </div>
</nav>