<div class="menu-container">
    <div class="card-header col-md-10">
        <h2>
            &#127869 Blog Navigation Menu
        </h2>

    </div>
    {{#each blogs as |blog|}}
    <div class="blod col-md-5">
        <p>
            {{blog.id}}
            {{blog.title}}
        </p>
    </div>
</div>