<div class="blog-card">
    <div class="blog-card-header">
        {{user_name}}
        {{title}}
        {{post_date}}
    </div>
</div>
<div class="card-body">
    <p>
        Post:
        {{post}}
    </p>
</div> 