<div class="menu-container">
  <div class="card-header col-md-10">
    <h2>
      &#127869 Home DashBoard Logout
    </h2>
  </div>
  {{#each Posts as |post|}}
    <div class="blog col-md-5">
      <p>
        {{blog.title}}
      </p>
      <p>
        {{blog.user_name}}
        {{post_date}}
      </p>
    </div>
  {{/each}}
</div>