<div class="menu-container">
  <div class="card-header col-md-10">
    <h2>
      &#127869 TECH BLOG
    </h2>
  </div>
  {{#each blogs as |blog|}}
    <div class="blog col-md-5">
      <div>
      <p>
        Title: {{blog.title}}
      </p>
      </div>
    <div>
      <p>
       {{blog.post}}
      </p>
    </div>
      <div>
       <p>
        Date Posted: {{post_date}}
      </p>   
      </div>

    </div>
  {{/each}}
</div>